[submodule "src/lib/libserialport-cmake"]
	path = src/lib/libserialport-cmake
	url = https://github.com/Ahreo/libserialport-cmake
[submodule "src/lib/freetype"]
	path = src/lib/freetype
	url = git@github.com:freetype/freetype.git
[submodule "src/lib/etl"]
	path = src/lib/etl
	url = git@github.com:ETLCPP/etl.git
